/* General */
*{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.login-btn{
    border-radius: 10px;
}

ul li a:hover, 
.login-btn:hover, 
.get-started-btn:hover, 
.start-cooking-btn:hover{
    font-weight: bold;
}

.get-started-btn, 
.start-cooking-btn{
    border-radius: 10px;
    margin-top: 10px;
}

/* Start */

.hero{
    position:relative;
    height:100vh;
    overflow:hidden;
}

/* Desktop Video */
.hero-video{
    position:absolute;
    top:50%;
    left:50%;
    width:100%;
    height:100%;
    object-fit:cover;
    transform:translate(-50%, -50%);
    z-index:1;
}

/* Mobile Background */
.hero-image{
    position:absolute;
    inset:0;
    background:url("../images/welcome-banner.jpg") center center;
    background-size:cover;
    z-index:1;
}

/* Dark layer */
.hero-overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.45);
    z-index:2;
}

/* Center text */
.hero-content{
    position:relative;
    z-index:3;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:#fff;
}


.hero-text{
    width:600px;
}


.hero-text p{
    text-align:left;
}





.hero-content h1{
    font-size:4rem;
    font-weight:500;
    margin-bottom:0rem;
}

.hero-content p{
    font-size:2.0rem;
    margin-left: 10%;
    margin-bottom:1rem;
}

@media only screen and (max-width:600px){
    .hero{
        height:auto;
    }

    .hero-content{
        align-items:flex-start;
        text-align:left;
        padding:40px 20px;
        justify-content:center;
    }

    .hero-content h1{
        font-size:2rem;
        text-align: left;
    }

    .hero-content p{
        font-size:1.2rem;
        margin-left: auto;
    }
}

/* Stop */


.hero-section,
.category-section, 
.section-4, 
.section-5,
.section-6{
    padding-top: 3rem;
}
.section-3{
    padding-top: 0.5rem;
}

.slider .slides{
    height: fit-content !important;
}


.hero-section p, .section-3 p, .section-5 p{
    font-size: large;
}

.category-section-title{
    display: flex;
    justify-content: center;
}

.my-modal-container{
    position: relative;
}
.my-modal-container:hover .my-modal{
    opacity: 1;
}
.my-modal{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.849);
}

.my-modal a{
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
    font-size: 25px;
}

.section-5 h5{
    margin-left: 10%;
}

.page-footer{
    background: linear-gradient(to bottom,#fff,#ef6c00);
    padding-top: 10%;
    margin-top: 3%;
    padding-bottom: 0.1rem;
}

.copyright{
    margin-top: 6%;
}
.footer-copyright.row{
    background-color: rgba(255, 0, 0, 0)!;
}

.duration{
    border-radius: 20px;
    padding: 5px 7px;
    font-size: 10px;
}

/* All cakes recipe page */
.parallax-container {   
    position: relative;
    height: 500px; /* Adjust to your needs */
    overflow: hidden;
}

.text-overlay {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.slide-in-text {
    opacity: 0;
    transform: translateX(-100px); /* Start 100px to the left */
    animation: slideIn 0.7s ease-in-out forwards;
}
.slide-in-text p{
    font-size: 18px;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0); /* Return to original position */
    }
}

.cakes-footer{
    background: linear-gradient(to bottom,#fff,#9b0b21);
    padding-top: 5%;
    margin-top: 2%;
    padding-bottom: 0.1rem;
}

/* Soup page */
.soup-footer{
    background: linear-gradient(to bottom,#fff,#1B5E20);
    padding-top: 5%;
    margin-top: 2%;
    padding-bottom: 0.1rem;
}

/* Utility classes */
.bold{
    font-weight: bold;
}
.text-align-center-on-wrap{
    text-align: center;
}
.italic{
    font-style: italic;
}
.center{
    place-self: center;
}
.round-edge{
    border-radius: 10px !important;
}
.chef-color-text{
    color: #ae0137;
}
.chef-color{
    background-color: #ae0137;
}
.chef-color:hover{
    background-color: #ae0138e0;
}

.cake-color-text{
    color: #9b0b21 !important;
}
.cake-color{
    background-color: #9b0b21;
}
.cake-color:hover{
    background-color: #9b0b21;
}
