/* General */
*{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.login-btn{
    border-radius: 10px;
}

video{
    width: 100%;
}

.header-video-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    /* top: -50px; */
}
.header-video-container img{
    
}

ul li a:hover, 
.login-btn:hover, 
.get-started-btn:hover, 
.start-cooking-btn:hover{
    font-weight: bold;
}

.get-started-btn, 
.start-cooking-btn{
    border-radius: 10px;
    margin-top: 10px;
}

.header-video-container-content{
    /* margin-top: 0%; */
    position: absolute;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

/* .header-video-container-content span{
    font-size: 33px;
    opacity: 0.8;
} */

.hero-sec{
    position: relative;
}
.hero-sec .overlay{
    position: absolute;
    height: 100%;
    width: 100%;
}

.overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overlay h1{
    font-size: 5rem;
    width: 80%;
}
.overlay h4{
    font-size: 2rem;
}
.overlay .d-paragraph{
    font-size: 2.5rem;
    margin-left: -10%;    
}

.overlay .landing-content{
    place-content: center;
}

.slider .slides{
    height: fit-content !important;
}


.hero-section p, .section-3 p, .section-5 p{
    font-size: larger;
}

.category-section{
    margin-top: 50px;
}

.category-section-title{
    display: flex;
    justify-content: center;
}

.my-modal-container{
    position: relative;
}
.my-modal-container:hover .my-modal{
    opacity: 1;
}
.my-modal{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.849);
}

.my-modal a{
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
    font-size: 25px;
}

.section-3{
    margin-top: 100px;
}

.section-4{
    margin-top: 45px;
    padding-bottom: 4%;
}

.section-5{
    margin-bottom: 80px;
}
.section-5 h5{
    margin-left: 10%;
}

.page-footer{
    background: linear-gradient(to bottom,#fff,#ef6c00);
    padding-top: 10%;
    margin-top: 3%;
    padding-bottom: 5%;
}

.copyright{
    margin-top: 6%;
}

/* Utility classes */
.bold{
    font-weight: bold;
}
.text-align-center-on-wrap{
    text-align: center;
}
.italic{
    font-style: italic;
}
.center{
    place-self: center;
}
.round-edge{
    border-radius: 10px !important;
}
.chef-color-text{
    color: #ae0137;
}
.chef-color{
    background-color: #ae0137;
}
.chef-color:hover{
    background-color: #ae0138e0;
}
